body {
    margin: 0;
    padding: 0;
    background: white;
    color: #232323;
    font-family: "Avenir Next", "Avenir", sans-serif;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .rocket-font{
      font-family: 'Audiowide', cursive;
  }

  .topnav {
    position: relative;
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .topnav-right {
    float: right;
  }

  body {
    font-family: Verdana, sans-serif;
    margin: 0
  }

  img {
    vertical-align: middle;
  }
  
  .size-img {
    height: auto;
    width: auto;
  }
  
  
  .logo {
    width: auto;
    height: 50px;
    text-align: center;
    margin: -104px 0px 16px 40px
  }
  
  .logo img {
    display: inline-block;
  }
  
  ul {
    padding-inline-start: 0px;
  }
  
  a {
    text-decoration: none;
  }
  
  .gray {
    color: #707070;
  }
  
  footer {
    background-color: black;
  }
  
  .footer-row {
    display: flex;
    flex-direction: row;
    background: black;
  }

  /*---------------------new code below-------------------------*/
  .container {
    margin: auto ;
  }

  .inner-container {
    display: block;
    text-align: center;
  }

  .container-text-date{
    display: flex;
  }

  h5{
    margin: 0px 0px 40px 16px;
  }

  .left-date {
      padding-left: 385px;
  }

  .title-banner {
      margin-bottom: 0px;
      margin-top: 170px;
      font-size: 38px;
  }

  .timer{
    margin-bottom: 0px;
    margin-top: 0px;
    color: #e63946;
  }
  .card-holder{
    display: flex;
    background-color: #a8dadc;
    width: 1012px;
  }

.card-title-date{
  padding: 32px 32px 0px 32px;
  margin: 0px;
}

.card-secound-date{
  padding: 0px 32px 32px 32px;
  margin: 0px;
}

.rocket-name{
  margin: 0px;
  padding: 32px 32px 0px 0px;
}

.mission-name{
  margin: 0px;
  padding: 0px 0px 0px 0px;
}

.location{
  margin: 0px;
}

/*.btn{
  background-color: #1d3557;
  color: #f1faee;
  padding: 26px 69px;
  font-size: 20px;
  margin: 50px 0px 0px 150px;
}*/

.btn {
  background-color: #1d3557;
  color: #f1faee;
  padding: 16px 16px;
  width: 250px;
  height: 90px;
  font-size: 20px;
  margin: 50px 0px 0px 36px;
}


.btn:hover{
  background-color: #457b9d;
  transition: all 0.6s ease 0s;
}

form{
  background-color: #457b9d;
  padding: 1.5em;
  border: 1px solid black;
  border-radius: 6px;
}

.form-error {
  color: var(--error);
  font-size: 1em;
  margin-top: 3px;
  display: none;
}

.card-per{
  margin-top: 16px;
  margin-bottom: 16px;
}

.space-between{
  margin: 16px;
}

.right-card{
  width: 607px;
}

.left-card{
  width: 340px;
}

.padding-work{
  padding: 0px 0px 36px 0px;
}

.card-more{
  width: 250px;
  margin: 70px 0px 0px 0px;
}

.schedule-button{
  color: #F1FAEE;
    text-decoration: none;
    background-color: black;
    padding: 16px;
    margin-left: 36px;
}

.schedule-button:hover{
  background-color: #457b9d;
  transition: all 0.6s ease 0s;
}

.footer-ul{
  display: flex;
  padding: 36px;
  width: 900px;
  margin: auto;
}

footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: 500px;
}

.footer-li{
  margin: 0px 0px 0px 16px;
  list-style-type: none;
}

.footer-a{
  color: #F1FAEE;
}

.fa:hover{
  opacity: 0.8;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-twitter{
  margin-left: 200px;
}

.dropdown{
  height: 50px;
}

.logo {
  margin: 20px 16px 0px 0px;
}

.breadcrumb-nav{
  margin-top: 36px;
}













  @media only screen and (min-width: 766px) {
  
  
    .menu {
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
    }
  
    input {
      display: none;
    }
  
    .menu-li {
      padding: 16px 16px;
      color: black;
    }
  
    .logo img {
      display: flex;
      margin: 16px;
    }
  
    ul.menu {
      margin: 20px 0px -68px 0px;
    }
  
    .menu-li:hover {
      color: black;
      background-color: #DBF4F1;
      padding: 16px;
      transition: all 0.6s ease 0s;
    }
  
    /*dropdown*/
    .dropdown {
      float: left;
      overflow: hidden;
    }
  
    .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: black;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
  
    .navbar a:hover,
    .dropdown:hover .dropbtn {
      background-color: #DBF4F1;
      transition: all 0.6s ease 0s;
    }
  
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
  
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
  
    .dropdown-content a:hover {
      background-color: #ddd;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
    .display-title {
      display: none;
    }
  
  }
  
  @media only screen and (max-width: 300px) {
  
    .prev,
    .next,
    .text {
      font-size: 11px
    }
  }
  
  
  @media only screen and (max-width: 765px) {
  
    body {
      margin: 0;
      padding: 0;
      background: white;
      color: #232323;
      font-family: "Avenir Next", "Avenir", sans-serif;
    }
  
    .home-title {
      padding: 32px 0px 16px 0px;
      font-size: 22px;
    }
  
    .menuToggle {
      display: block;
      position: relative;
      top: 50px;
      left: 50px;
  
      z-index: 1;
  
      -webkit-user-select: none;
      user-select: none;
      width: 300px;
    }
  
    .menuToggle a {
      text-decoration: none;
      color: #f1faee;
  
      transition: color 0.3s ease;
    }
  
    .menuToggle a:hover {
      color: #f1faee;
    }
  
  
    .menuToggle input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
  
      cursor: pointer;
  
      opacity: 0;
      z-index: 2;
  
      -webkit-touch-callout: none;
    }
  
    .menuToggle span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
  
      background: #232323;
      border-radius: 3px;
  
      z-index: 1;
  
      transform-origin: 4px 0px;
  
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    }
  
    .menuToggle span:first-child {
      transform-origin: 0% 0%;
    }
  
    .menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  
    .menuToggle input:checked~span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #f1faee;
    }
  
    .menuToggle input:checked~span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
  
    .menuToggle input:checked~span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }
  
    .menu {
      position: absolute;
      width: 300px;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
  
      background: #1d3557;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
  
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
  
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }
  
    .menu li {
      padding: 32px 0px 0px 0px;
      ;
      font-size: 22px;
    }
  
    .menuToggle input:checked~ul {
      transform: none;
    }
  
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
  
    .topnav {
      position: relative;
      overflow: hidden;
      background-color: #333;
    }
  
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
  
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
  
    .topnav a.active {
      background-color: #4CAF50;
      color: white;
    }
  
    .topnav-centered a {
      float: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    .topnav-right {
      float: right;
    }
  
  
    /*do i need it?*/
    .top {
      height: 100%;
      width: 100%;
    }
  
    .center-text {
      padding: 16px 32px;
      text-align: center;
      font-size: 14px;
    }

    .a {
      display: block;
      width: 30%;
      border-radius: 10px;
      border: none;
      background-color: #4CAF50;
      color: white;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
      margin: 16px auto;
    }
  
    .a:hover {
      background-color: #346494;
      color: white;
    }
  
    body {
      font-family: Verdana, sans-serif;
      margin: 0
    }
  
    img {
      vertical-align: middle;
    }
  
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
  
    .active,
    .dot:hover {
      background-color: #717171;
    }
  
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
  
    @-webkit-keyframes fade {
      from {
        opacity: .4
      }
  
      to {
        opacity: 1
      }
    }
  
    @keyframes fade {
      from {
        opacity: .4
      }
  
      to {
        opacity: 1
      }
    }
  
    .size-img {
      height: auto;
      width: auto;
    }
  
    .hover-footer:hover {
      color: white;
    }
  
    .footer-row {
      flex-direction: column;
    }
  
    /*insert medie mobile here*/
  
    .logo {
      width: auto;
      text-align: center;
      margin: 8px 0px 32px 0px;
    }
  
    .logo img {
      display: inline-block;
    }
  
    .gray-text-color {
      color: #707070;
    }
  
    .end-text {
      background-color: black;
      margin: 0px;
      text-decoration: none;
      color: white;
      list-style-type: none;
    }
  
    .gray-text {
      color: #707070;
      padding: 0px 0px 32px 64px;
  
    }
  
    .li-text {
      padding: 16px 0px 0px 0px;
    }
  
    ul {
      padding-inline-start: 0px;
    }
  
  
    h3 {
      margin: 0px;
      padding: 48px 0px 32px 64px;
      color: white;
    }
  
    a {
      text-decoration: none;
    }
  
    .gray {
      color: #707070;
    }
  
    div.center-text.footer {
      background-color: black;
    }
  
    footer {
      background-color: black;
    }
  
    .dropbtn {
      display: none;
    }
  
    .display-title {
      display: block;
      color: #f1faee;
    }
  
    .display-title:hover {
      color: #a8dadc;
      transition: 0.6s ease;
    }
  
    .column {
      display: flex;
      flex-direction: column;
    }
  
    .padding-inside-hamburger {
      padding: 16px 0px 0px 0px;
    }

    /*-------------------------------------- the menu stops here*/

    .inner-container {
      display: block;
      text-align: center;
    }

    .rocket-img {
      display: none;
    }
    
    .banner-right{
    padding: 10px 0px 10px 0px;
  }

   .container-text-date{
     display: none;
   }

   .banner-btn{
    margin: 20px 0px;
   }

   .card-secound-date{
     color: black;
     font-size: 2em;
     width: 298px;
     padding: 0px;
     text-align: left;
   }

   .rocket-name{
    color: black;
    font-size: 3em;
    width: 231px;
    margin-left: 36px;
    text-align: left;
   }

   .mission-name{
    color: black;
    font-size: 2em;
    margin-left: 36px;
    text-align: left;
    padding-top: 16px;
   }


   .card-holder{
    display: block;
    background-color: #a8dadc;
    width: 360px;
  }

  .card-more{
    text-align: center;
      display: flex;
      background-color: #a8dadc;
      width: 360px;
      margin: 0px;
  }

  .btn {
    width: 100%;
    height: auto;
    width: 100%;
    padding: 36px;
    margin: 50px 0px 0px 36px;
  }

  .left-card{
    text-align: center;
    margin-left: 36px;
    width: 100%;
  }


  .card-title-date{
    font-size: 40px;
    padding: 32px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: left;
  }

  .title-banner{
    font-size: 3em;
    text-align: left;
    margin-left: 36px;
    margin-top: 30px;
  }
  .timer{
    font-size: 2em;
    margin-bottom: 53px;
    text-align: left;
    margin-left: 36px;
  }

  .space-between{
    margin: 63px;
  }

  .normal-font{
    font-family: Arial, Helvetica, sans-serif;
  }

  .location{
    color: black;
    font-size: 1em;
    width: 100%;
    margin-left: 36px;
    text-align: left;
    padding-top: 16px;
    
  }

  .right-card{
    width: 267px;
  }


  a.button{
    padding: 36px;
    margin-left: 36px;
    margin-top: 16px;
    background-color: #457B9D;
    color: #F1FAEE;
    width: 200px;
    font-size: 19px;

  }

  .button:hover {
    background-color: #1D3557;
    color: white;
  }

  .schedule-button{
    padding: 16px 86px;
    margin: 36px 36px 0px 36px;
  }
  .footer-ul{
    display: block;
  }

  .footer-a{
    color: #F1FAEE;
    margin: 16px 0px 16px 0px;
    text-decoration: none;
  }

  .footer-wrapper{
    padding: 16px;
  }

  .footer-li{
    margin-top: 16px;
  }

  ul{
    list-style-type: none;
  }

  footer {
    clear: both;
    position: relative;
    height: 380px;
    margin-top: 500px;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px -8px;
    border-radius: 50%;
}

.sosial-media-container {
  margin-top: 36px;
}

.footer-ul {
  padding: 36px;
  width: 300px;
  margin: auto;
}

  }
